<h1 class="title clearfix" role="banner" style="text-align: center;">
  <a href="/" role="banner" title="{{ shop.name }}">
    <img src="{{ 'logo-retina.png' | asset_url }}" alt="{{ shop.name }}" style="width:89px!important;"> 
  </a>
</h1>